<div class="row">
  <div class="col-md-3">
    <% if @place.image_url.nil? %>
      <%= image_tag "https://s3.amazonaws.com/placerater/default.png" %>
    <% else %>
      <%= image_tag @place.image_url %>
    <% end %>
    <h2>
      <%= @place.name %>
    </h2>

    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p>
      <% if @reviews.length == 1 %>
        <%= "#{@reviews.length} review" %>
      <% else %>
        <%= "#{@reviews.length} reviews" %>
      <% end %>
    </p>
    <p>
      <strong>City:</strong>
      <%= @place.city %>
    </p>
    <p>
      <strong>State:</strong>
      <%= @place.state %>
    </p>
    <p>
      <strong>Website:</strong>
      <%= link_to @place.website, @place.website %>
    </p>
    <%= link_to "Write a review", new_place_review_path(@place), class: "btn btn-primary" %>
  </div>

  <div class="col-md-9">
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class ="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <h4>
                  <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>

              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                <% if user_signed_in? %>
                  <% if (review.user == current_user) || (current_user.admin?) %>
                    <%= link_to "Edit", edit_place_review_path(@place, review) %>
                    <%= link_to "Delete", place_review_path(@place, review), method: :delete %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/placerater/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>





<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-link"  %> |
<%= link_to 'Back', places_path, class: "btn btn-link"  %>
