<p id="notice"><%= notice %></p>

<%= image_tag @place.image_url %>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<p>
  <strong>Website:</strong>
  <%= @place.website %>
</p>

<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-link"  %> |
<%= link_to 'Back', places_path, class: "btn btn-link"  %>
